// Config
@import "./config/_variables";
@import "./config/_reset";

// Components

// Screens

// Default
a {
    color: inherit;
    text-decoratioin: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
}