doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName} 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header 
            h1=pageTitle
            nav
                ul 
                    li
                        a(href="/") Home
<<<<<<< HEAD
                    if loggedIn
                        li
                            a(href="/logout") Logout
                        li
                            a(href="/my-profile") #{loggedInUser.name}ì˜ Profile
                    else
                        li
                            a(href="/join") Join
                        li
                            a(href="/login") Login
                    li
                        a(href="/search") Search
                    li
                        a(href="/videos/upload") Upload Video
=======
                    if !loginState
                        li 
                            a(href="/login") Login
                        li
                            a(href="/join") Join
                    else 
                        li
                            a(href="/videos/upload") Upload Video
                        li 
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Logout
                    li
                        a(href="/search") Search
                    
>>>>>>> 001e6fd51c91152bbd413423af1b2133418c824f
        main
            block content
    include partials/footer.pug