extends base.pug
include mixins/video

block content
    div.home__banner
                h2#main__title 
                    span 모두의 꿈이 모여
                    br
                    span 하나의 목표를 이루는
                    br
                    span.outline__text 우리는 Dnf'L 입니다.
    article.main__study
        div#container
            h3 Study
                span 매주 스터디를 통해 서로의 성장을 돕고 새로운 목표에 도전합니다
            p
                |저희 Dnf'L은 매주 스터디에서
                br
                span 하나의 소재를 가지고 한 주간 느낀 것
                |들에 대한 글을 쓰며
                br
                |서로 공유하고 영감을 주고 받는 몸풀기 토크를 진행합니다.
                br
                br
                |몸풀기 토크가 끝나면
                br
                |본 프로젝트에 대한 진행 현황과 아이디어를 공유하고
                br
                |다음 스터디 일정을 조율하게 됩니다.
                br
                br
                |현재 진행중인 프로젝트가 궁금하다면
                br
                |아래 버튼을 클릭해주세요.
            
            button.btn 스터디 스케줄표


    each item in videos 
        +video(item)
    else 
        li Sorry nothing found.