extends base.pug
include mixins/video

block content
    form(method="get").search__form
        input(type="text", name="keyword", id="search", placeholder="Search by title")
        button
            i.fas.fa-search

    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found