extends base.pug

block content
    div
        video#preview
        button#actionBtn Start Recording
    if errorMessage
        span=errorMessage
    form(method='post', enctype="multipart/form-data")
        label(for="video") Video File 
        input(type="file", name="video", accept="video/*", required, id="video")
        label(for="thumb") Thumbnail File 
        input(type="file", name="thumb", accept="image/*", required, id="thumb")
        input(name="title", id="title", type="text", placeholder="Title", maxlength=80, required)
        input(name="description", id="description", type="text", placeholder="Description", minlength=20, required)
        input(name="hashtags", id="hashtags", type="text", placeholder="Hashtags, separated by comma.", required)
        input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js")